/* Footer.css */

.bg-footer {
    background-color: #01d28e;
    color: #fff;
    
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-between; /* Display titles side by side with space in between */
    background-color: #01d28e;
}

.tag {
    padding: 20px;
    background-color: #01d28e; /* Add padding around each title group */
}

.footer-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #01d28e;
    color: #fff;
}

.link {
    display: block;
    text-decoration: none;
    color: #fff;
    
    background-color: #01d28e;
}

.link:hover {
    color: #FA7D19;
}

.text-center {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    
}
#bot{
    background-color: #333;
}
#Se{
    padding-left:5% ;
}
#Le{
    padding-right: 5%;
}
