.app {
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  /*style for signup*/.app {
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #fff;
  }
  /*style for signup*/
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .login-form {
    background-color: #f0f0f0;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60vw;
    height: auto;
    text-align: center;
  }

  .form {
    width: 80%;
    display: inline-block;
    align-content: center;
    margin: 0 auto;
  }
  
  .list-container {
    display: flex;
  }

  .formBox {
    margin: 0 auto;
    height: auto;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }

  form {
    display: inline-block;
    display:flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  .input-container {
    gap: 8px;
    margin: 20px;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    align-self: center;
  }
  .rap {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  }
  .hed {
    padding: 1px;
  }
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 800px;
    height: 600px;text-align: center;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .rap {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  }